# Oefeningen dataframes samenvoegen
## Oefening 1
In het volgende voorbeeld hebben beide dataframes dezelfde kolomnaam. Wat gebeurt er wanneer je de kolommen van beide dataframes samenvoegt met pd.concat()? 
1. Het nieuwe dataframe heeft twee kolommen met dezelfde naam
1. Je krijgt een foutmelding omdat kolomnamen uniek moeten zijn
1. De kolom van de tweede dataframe krijgt de naam 'telefoon_1'

In [ ]:
import pandas as pd
voornamen = ['Karen', 'Kristel', 'Kathleen']
vaste_telefoon = ['03/534.23.12', '015/32.12.56', '27 71 142 26 73']
gsm = ['0478/12.30.22', '0477/86.29.12', pd.NA]
df1 = pd.DataFrame({'telefoon':vaste_telefoon},dtype=pd.StringDtype(), index=voornamen)
df2 = pd.DataFrame({'telefoon': gsm}, dtype=pd.StringDtype(), index=voornamen)
df1.info()
df2.info()

## Oefening 2
De twee dataframes zijn samengevoegd. Hoe kun je de tweede kolom de naam 'gsm' geven?
1. df.rename(columns=[df.columns[0], 'gsm'])
1. df.rename(columns=[df.columns[0], 'gsm'], inplace=True)
1. df.columns=[df.columns[0], 'gsm']
1. df.columns = [col if index==1 else 'gsm' for index, col in enumerate(df.columns)]

In [ ]:
df = pd.concat([df1, df2], axis='columns')
# df.rename(columns=[df.columns[0], 'gsm'])                                          #(1)
# df.rename(columns=[df.columns[0], 'gsm'], inplace=True)                            #(2)
# df.columns=[df.columns[0], 'gsm']                                                  #(3)
# df.columns = [col if index==1 else 'gsm' for index, col in enumerate(df.columns)]  #(4)
df

## Oefening 3
De tweede kolom is nu hernoemd naar 'gsm'. Wat gebeurt er wanneer je de rij van het dataframe df_hanne samenvoegt met df in een nieuwe dataset df_k4.
1. Je krijgt een foutmelding omdat de kolom 'telefoon' ontbreekt
2. De waarde van 'gsm' komt in de kolom 'telefoon' te staan (en 'gsm' wordt NA)
3. De kolom telefoon is NA en gsm bevat het gsm-nummer van Hanne

In [ ]:
df.columns=[df.columns[0], 'gsm']
df_hanne = pd.DataFrame({'gsm':'0475/23.58.69'}, index=['Hanne'])
df_k4 = pd.concat([df, df_hanne], axis='index')
df_k4

## Oefening 4
In de volgende code is er geen gsm-nummer voor Kathleen. Wanneer we de twee dataframes samenvoegen met pd.concat(axis='columns') zien we een NA-waarde voor het gsm-nummer van Kathleen. Dat komt er een outer join is uitgevoerd. 

Wat voor soort join krijg je met de merge-functie?
1. inner join
1. outer join

In [ ]:
import pandas as pd
voornamen = ['Karen', 'Kristel', 'Kathleen']
vaste_telefoon = ['03/534.23.12', '015/32.12.56', '27 71 142 26 73']
gsm = ['0478/12.30.22', '0477/86.29.12']
df1 = pd.DataFrame({'telefoon':vaste_telefoon},dtype=pd.StringDtype(), index=voornamen)
df2 = pd.DataFrame({'gsm': gsm}, dtype=pd.StringDtype(), index=voornamen[:2])
display(df1, df2, pd.concat([df1, df2], axis='columns'))
#pd.merge(df1, df2, left_index=True, right_index=True)

## Oefening 5
Hoe kun je hetzelfde resultaat krijgen met merge als met pd.concat([df1, df2], axis='columns') (meerdere antwoorden mogelijk)
1. pd.merge(df1, df2, left_index=True, right_index=True, how='left')
1. pd.merge(df2, df1, left_index=True, right_index=True, how='left')
1. pd.merge(df1, df2, left_index=True, right_index=True, how='inner')
1. pd.merge(df1, df2, left_index=True, right_index=True, how='outer')
1. pd.merge(df1, df2, left_index=True, right_index=True, how='right')
1. pd.merge(df2, df1, left_index=True, right_index=True, how='right')

In [ ]:
import pandas as pd
voornamen = ['Karen', 'Kristel', 'Kathleen']
vaste_telefoon = ['03/534.23.12', '015/32.12.56', '27 71 142 26 73']
gsm = ['0478/12.30.22', '0477/86.29.12']
df1 = pd.DataFrame({'telefoon':vaste_telefoon},dtype=pd.StringDtype(), index=voornamen)
df2 = pd.DataFrame({'gsm': gsm}, dtype=pd.StringDtype(), index=voornamen[:2])
# pd.merge(df1, df2, left_index=True, right_index=True, how='left')   #(1)
# pd.merge(df2, df1, left_index=True, right_index=True, how='left')   #(2)
# pd.merge(df1, df2, left_index=True, right_index=True, how='inner')  #(3)
# pd.merge(df1, df2, left_index=True, right_index=True, how='outer')  #(4)
# pd.merge(df1, df2, left_index=True, right_index=True, how='right')  #(5)
# pd.merge(df2, df1, left_index=True, right_index=True, how='right')  #(6)

                 telefoon            gsm
Karen        03/534.23.12  0478/12.30.22
Kristel      015/32.12.56  0477/86.29.12
Kathleen  27 71 142 26 73           <NA>

# Oplossingen
## Oefening 1
na pd.concat([df1, df2], axis='columns') heb je twee keer dezelfde kolomnaam

## Oefening 2
Antwoord 3: df.columns=[df.columns[0], 'gsm']. Antwoord 4 is ook bijna correct.

## Oefening 3
Antwoord 3: De kolom telefoon is NA en gsm bevat het gsm-nummer van Hanne

## Oefening 4
Antwoord 1: een inner join

## Oefening 5
Dat kan met how='outer' (antwoord 4). Maar in dit geval ook met how='left' wanneer df1 eerst staat (antwoord 1)