# Oefeningen op ontbrekende waarden
## Oefening 1
Wat moet je bij pd.DataFrame() invullen als dtype om de loonkolom als een integer kolom te definiÃ«ren?
1. Je moet niets doen (want het is al een integerkolom)
1. dtype={'loon': np.int_}
1. dtype={'loon': pd.Int64Dtype()}
1. dtype={'loon': pd.Float64Dtype()}
1. dat gaat niet met dtype in pd.DataFrame()

In [ ]:
import pandas as pd

voornamen = ['Karen', 'Kristel', 'Kathleen']
achternamen = ['Damen', 'Verbeke', 'Aerts']
geboortedatums = [pd.to_datetime('1974-10-28'), pd.to_datetime('1975-12-10'), pd.to_datetime('1978-06-18')]
loon = [5000, None, 4500]
df = pd.DataFrame({'voornaam':voornamen, 'achternaam':achternamen, 'geboortedatum':geboortedatums, 'loon':loon})
df.info()

## Oefening 2
We kunnen het probleem van de vorige oefening misschien wel oplossen door Series te maken. Welk dtype moet je invullen bij de loon-series om ervoor te zorgen dat de loon-kolom een integer kolom wordt (en geen float?)
1. Je moet niets doen (want het is al een integerkolom)
1. dtype=np.int_
1. dtype=pd.Int64Dtype()
1. dtype=pd.Int64Dtype()

In [ ]:
import pandas as pd

voornamen = pd.Series(['Karen', 'Kristel', 'Kathleen'])
achternamen = pd.Series(['Damen', 'Verbeke', 'Aerts'])
geboortedatums = pd.Series([pd.to_datetime('1974-10-28'), pd.to_datetime('1975-12-10'), pd.to_datetime('1978-06-18')])
loon = pd.Series([5000, None, 4500])
df = pd.DataFrame({'voornaam':voornamen, 'achternaam':achternamen, 'geboortedatum':geboortedatums, 'loon':loon})

df

## Oefening 3
Hoe kunnen we alle rijen die een NA-waarde bevatten verwijderen? (meerdere antwoorden mogelijk)
1. df.fillna()
1. df.dropna(axis=1)
1. df.dropna()
1. df.dropna(axis=0)

In [ ]:
import pandas as pd

voornamen = pd.Series(['Karen', 'Kristel', 'Kathleen'])
achternamen = pd.Series(['Damen', 'Verbeke', 'Aerts'])
geboortedatums = pd.Series([pd.to_datetime('1974-10-28'), pd.to_datetime('1975-12-10'), pd.to_datetime('1978-06-18')])
loon = pd.Series([5000, None, 4500], dtype=pd.Int16Dtype()) # maximaal maandloon: 32_767
df = pd.DataFrame({'voornaam':voornamen, 'achternaam':achternamen, 'geboortedatum':geboortedatums, 'loon':loon})

# wat moet je hier invullen?

## Oefening 4
Hoe kun je alle kolommen verwijderen die lege waarden bevatten? (meerdere antwoorden mogelijk)
1. df.dropna(axis=1)
1. df.dropna(axis='columns')
1. df.dropna()
1. df.dropna(axis=0)

In [ ]:
import pandas as pd

voornamen = pd.Series(['Karen', 'Kristel', 'Kathleen'])
achternamen = pd.Series(['Damen', 'Verbeke', 'Aerts'])
geboortedatums = pd.Series([pd.to_datetime('1974-10-28'), pd.to_datetime('1975-12-10'), pd.to_datetime('1978-06-18')])
loon = pd.Series([5000, None, 4500], dtype=pd.Int16Dtype()) # maximaal maandloon: 32_767
df = pd.DataFrame({'achternaam':achternamen, 'geboortedatum':geboortedatums, 'loon':loon}, index=voornamen)
#wat moet je hier invullen

## Oefening 5
Hoe kunnen we in de onderstaande dataframe de rijen met een NA-waarde verwijderen.
1. df.dropna(axis=0)
2. df.index.dropna()
3. df[df.index.dropna()]
4. df[df.index.notna()]

In [ ]:
import pandas as pd

voornamen = pd.Series(['Karen', 'Kristel', 'Kathleen'])
achternamen = pd.Series(['Damen', 'Verbeke', 'Aerts'])
geboortedatums = pd.Series([pd.to_datetime('1974-10-28'), pd.to_datetime('1975-12-10'), pd.to_datetime('1978-06-18')])
loon = pd.Series([5000, None, 4500], dtype=pd.Int16Dtype()) # maximaal maandloon: 32_767
df = pd.DataFrame({'voornaam':voornamen, 'achternaam':achternamen, 'geboortedatum':geboortedatums, 'loon':loon})
df = df.set_index('loon')
#wat moet je hier invullen?

## Oefening 6
Hoe kun je ervoor zorgen dat de ontbrekende lonen de waarde 4000 krijgen?
1. df = df.fillna(4000)
1. df = df.ffill()
1. df = df.bfill()
1. df = df.interpolate()

In [ ]:
import pandas as pd

voornamen = pd.Series(['Karen', 'Kristel', 'Kathleen', 'Josje'])
achternamen = pd.Series(['Damen', 'Verbeke', 'Aerts', 'Huisman'])
geboortedatums = pd.Series([pd.to_datetime('1974-10-28'), pd.to_datetime('1975-12-10'), 
                            pd.to_datetime('1978-06-18'), pd.to_datetime('1986-02-16')])
loon = pd.Series([5000, None, 4500, 3500], dtype=pd.Int16Dtype()) # maximaal maandloon: 32_767
df = pd.DataFrame({'voornaam':voornamen, 'achternaam':achternamen, 'geboortedatum':geboortedatums, 'loon':loon})

df

## Oefening 7
Hoe kun je ervoor zorgen dat de ontbrekende lonen de waarde 4000 krijgen?
1. df = df.fillna(4000)
1. df = df['loon'].fillna(4000)
1. df['loon'].fillna(4000)
1. df['loon'].fillna(4000, inplace=True)
1. df.fillna(4000, 'loon', inplace=True)

In [ ]:
import pandas as pd

voornamen = pd.Series(['Karen', 'Kristel', 'Kathleen', pd.NA], dtype=pd.StringDtype())
achternamen = pd.Series(['Damen', 'Verbeke', 'Aerts', 'Huisman'], dtype=pd.StringDtype())
geboortedatums = pd.Series([pd.to_datetime('1974-10-28'), pd.to_datetime('1975-12-10'), 
                            pd.to_datetime('1978-06-18'), pd.to_datetime('1986-02-16')])
loon = pd.Series([5000, None, 4500, 3500], dtype=pd.Int16Dtype()) # maximaal maandloon: 32_767
df = pd.DataFrame({'voornaam':voornamen, 'achternaam':achternamen, 'geboortedatum':geboortedatums, 'loon':loon})

df

## Oefening 8
Hoe kun je ervoor zorgen dat de ontbrekende lonen de waarde krijgen van het gemiddelde loon. Vul de code aan en plak in de Syntra leeromgeving.

In [ ]:
import pandas as pd

voornamen = pd.Series(['Karen', 'Kristel', 'Kathleen', 'Josje'])
achternamen = pd.Series(['Damen', 'Verbeke', 'Aerts', 'Huisman'])
geboortedatums = pd.Series([pd.to_datetime('1974-10-28'), pd.to_datetime('1975-12-10'), 
                            pd.to_datetime('1978-06-18'), pd.to_datetime('1986-02-16')])
loon = pd.Series([5000, None, 4500, 5200], dtype=pd.Int16Dtype()) # maximaal maandloon: 32_767
df = pd.DataFrame({'voornaam':voornamen, 'achternaam':achternamen, 'geboortedatum':geboortedatums, 'loon':loon})
df = df.set_index('voornaam')
# Wat moet je hier invullen?
df

## Oefening 9
Hoe kun je ervoor zorgen dat Josje hetzelfde loon krijgt als Kathleen? (meerdere antwoorden mogelijk)
1. df['loon'].ffill(inplace=True)
1. df['loon'].bfill(inplace=True)
1. df['loon'].interpolate(inplace=True)
1. df['loon'].fillna('average')

In [ ]:
import pandas as pd

voornamen = pd.Series(['Karen', 'Kristel', 'Kathleen', 'Josje'])
achternamen = pd.Series(['Damen', 'Verbeke', 'Aerts', 'Huisman'])
geboortedatums = pd.Series([pd.to_datetime('1974-10-28'), pd.to_datetime('1975-12-10'), 
                            pd.to_datetime('1978-06-18'), pd.to_datetime('1986-02-16')])
loon = pd.Series([5000, 5200, 4500, None], dtype=pd.Int16Dtype()) # maximaal maandloon: 32_767
df = pd.DataFrame({'voornaam':voornamen, 'achternaam':achternamen, 'geboortedatum':geboortedatums, 'loon':loon})
df = df.set_index('voornaam')

df

## Oefening 10
Vul voor de ontbrekende voornamen en achternamen '&lt;onbekend&gt;' in. Vul de code aan en plak je antwoord in de Syntra leeromgeving.

In [ ]:
import pandas as pd

voornamen = pd.Series(['Karen', 'Kristel', pd.NA, 'Josje'], dtype=pd.StringDtype())
achternamen = pd.Series(['Damen', 'Verbeke', 'Aerts', pd.NA], dtype=pd.StringDtype())
geboortedatums = pd.Series([pd.to_datetime('1974-10-28'), pd.to_datetime('1975-12-10'), 
                            pd.to_datetime('1978-06-18'), pd.NaT])
loon = pd.Series([5000, 5200, 4500, None], dtype=pd.Int16Dtype()) # maximaal maandloon: 32_767
df = pd.DataFrame({'voornaam':voornamen, 'achternaam':achternamen, 'geboortedatum':geboortedatums, 'loon':loon})

df

# Oplossingen
## Oplossing 1
Het dtype in DataFrame kan maar 1 type bevatten dat moet gelden voor het volledige dataframe. Het correcte antwoord is dus 5
## Oplossing 2
We hebben het Pandas datatype nodig dtype=pd.Int64Dtype() (antwoord 3)
## Oplossing 3
We moeten de rij (axis=0 of axis='index') verwijderen. De standaardwaarde voor axis=0. Dus antwoorden 3 en 4 zijn correct
## Oplossing 4
We moeten de kolom (axis=1 of axis='columns') verwijderen. Dus antwoorden 1 en 2 zijn correct.
## Oplossing 5
Aangezien hier een indexwaarde NA is, moeten we alleen de rijen overhouden waar index not NA is. Antwoord 4 is correct.
## Oplossing 6
Je moet fillna() gebruiken, dus antwoord 1
## Oplossing 7
De loonkolom is niet de enige kolom met NA-waarden. Daarom moeten we df['loon'] gebruiken. Om ervoor te zorgen dat we geen nieuw DataFrame moeten maken, kunnen we inplace=True gebruiken (antwoord 4)
## Oplossing 8
We moeten eerst het gemiddelde loon berekenen. Vervolgens kunnen we die waarde gebruiken met .fillna()=
```
gemiddelde = df['loon'].mean()
df['loon'].fillna(gemiddelde, inplace=True)
```
## Oplossing 9
Aangezien het laatste loon ontbreekt, werkt alleen een forward fill (df['loon'].ffill(inplace=True)) dus antwoord 4
## Oplossing 10
Een mogelijke oplossing:
```
df[['voornaam', 'achternaam']]=df.loc[:, ['voornaam', 'achternaam']].fillna('<onbekend>')
```