# Oefeningen Basis Gegevensanalyse 
We beginnen met de download

In [2]:
from zipfile import ZipFile
import requests
URL = 'https://www.kaggle.com/api/v1/datasets/download/imdevskp/corona-virus-report'
data = requests.get(URL)
RAPPORT_ZIP = 'rapport.zip'
with open(RAPPORT_ZIP, mode='wb') as f:
    f.write(data.content)

with open(RAPPORT_ZIP, 'rb') as f:
    ZipFile(f).extractall()

## Oefening 1
Wat is het scheidingsteken in het CSV-bestand 'country_wise_latest.csv'. Zoek dat uit door de eerste regels te lezen met Python.
1. ;
1. /
1. ,
1. \t

In [ ]:
COUNTRY_WISE_CSV = 'country_wise_latest.csv'

Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
Afghanistan,36263,1269,25198,9796,106,10,18,3.5,69.49,5.04,35526,737,2.07,Eastern Mediterranean
Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.0,Europe
Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.6,Europe

## Oefening 2
Lees de dataset in Pandas en zoek uit welke kolommen null-waarden bevatten
1. 1 week change
1. WHO Region, Deaths / 100 recovered
1. Recover, Deaths / 100 recovered
1. Geen enkele kolom bevat NULL-waarden

In [ ]:
import pandas as pd
COUNTRY_WISE_CSV = 'country_wise_latest.csv'

## Oefening 3
Welk statement kun je gebruiken om van de eerste en de laatste kolom een string-kolom te maken?
1. df = df.asdtype({df.columns[0]:pd.StringDtype(), df.columns[-1]:pd.StringDtype()})
1. df = df.set_type({df.columns[0]:pd.StringDtype(), df.columns[-1]:pd.StringDtype()})
1. df.dtype = {df.columns[0]:pd.StringDtype(), df.columns[-1]:pd.StringDtype()}
1. df = df.astype({df.columns[0]:pd.StringDtype(), df.columns[-1]:pd.StringDtype()})

In [ ]:
import pandas as pd
COUNTRY_WISE_CSV = 'country_wise_latest.csv'

## Oefening 4
De volgende code maakt stringtypes van de eerste en laatste kolom (als je dat nog niet gedaan hebt)
Welke functie van DataFrame zou je gebruiken om het gemiddelde, de standaardafwijking, de minimumwaarde, de maximumwaarde en de kwartielen te zien van elke getalkolom?
1. info()
1. describe()
1. stats()
1. description()
1. quantile()

In [35]:
df = df.astype({df.columns[0]:pd.StringDtype(), df.columns[-1]:pd.StringDtype()})

## Oefening 5
Wanneer je de onderstaande code uitvoert, krijg je waarschuwing. Van welke kolom is die waarschuwing afkomstig?
1. Recovered / 100 Cases
1. Deaths / 100 Recovered
1. Active
1. 1 week change

In [12]:
import pandas as pd
COUNTRY_WISE_CSV = 'country_wise_latest.csv'
df.describe()

c:\Users\Jef\git\pandas\.venv\Lib\site-packages\pandas\core\nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase
count,1.870000e+02,187.000000,1.870000e+02,1.870000e+02,187.000000,187.000000,187.000000,187.000000,187.000000,187.00,1.870000e+02,187.000000,187.000000
mean,8.813094e+04,3497.518717,5.063148e+04,3.400194e+04,1222.957219,28.957219,933.812834,3.019519,64.820535,inf,7.868248e+04,9448.459893,13.606203
std,3.833187e+05,14100.002482,1.901882e+05,2.133262e+05,5710.374790,120.037173,4197.719635,3.454302,26.287694,NaN,3.382737e+05,47491.127684,24.509838
min,1.000000e+01,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,1.000000e+01,-47.000000,-3.840000
25%,1.114000e+03,18.500000,6.265000e+02,1.415000e+02,4.000000,0.000000,0.000000,0.945000,48.770000,1.45,1.051500e+03,49.000000,2.775000
50%,5.059000e+03,108.000000,2.815000e+03,1.600000e+03,49.000000,1.000000,22.000000,2.150000,71.320000,3.62,5.020000e+03,432.000000,6.890000
75%,4.046050e+04,734.000000,2.260600e+04,9.149000e+03,419.500000,6.000000,221.000000,3.875000,86.885000,6.44,3.708050e+04,3172.000000,16.855000
max,4.290259e+06,148011.000000,1.846641e+06,2.816444e+06,56336.000000,1076.000000,33728.000000,28.560000,100.000000,inf,3.834677e+06,455582.000000,226.320000

## Oefening 6
Met welk commando kun je zien hoeveel verschillende Country/Regions en WHO Regions er zijn?
1. df.describe()
1. df.describe(include=[pd.StringDtype()])
1. df.info(string)
1. df.info(include='all')

In [38]:
df.info()
df.describe(include=[pd.StringDtype()])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country/Region          187 non-null    string
 1   Confirmed               187 non-null    int64
 2   Deaths                  187 non-null    int64
 3   Recovered               187 non-null    int64
 4   Active                  187 non-null    int64
 5   New cases               187 non-null    int64
 6   New deaths              187 non-null    int64
 7   New recovered           187 non-null    int64
 8   Deaths / 100 Cases      187 non-null    float64
 9   Recovered / 100 Cases   187 non-null    float64
 10  Deaths / 100 Recovered  187 non-null    float64
 11  Confirmed last week     187 non-null    int64
 12  1 week change           187 non-null    int64
 13  1 week % increase       187 non-null    float64
 14  WHO Region              187 non-null    string
dtypes: float64(4), int64(9), string(2)
memory usage: 22.0 KB

       Country/Region WHO Region
count             187        187
unique            187          6
top       Afghanistan     Europe
freq                1         56

## Oefening 7
Hoe kun je het percentage tonen van de 'WHO Region' die het meest voorkomt? (zorg ervoor dat je code geen waarschuwing oplevert). Plak je code in de Syntra leeromgeving.

np.float64(29.946524064171122)

## Oefening 8
Welk commando gebruik je om van de 'Country/Region' kolom de index te maken?
1. df.set_index(df.columns[0])
1. df.reset_index('Country/Region')
1. df.index = df.columns[0]
1. df=df.switch_index('Country/Region')
1. df.set_index('Country/Region', inplace=True)

## Oefening 9
De volgende code maakt van 'Country/Region' de index. Vul aan met code om alle landen te zien waarvan de Recovered gelijk is aan 0.

Verwachte output:
````
Canada
Mozambique
Serbia
Sweden
Syria
Timor-Leste
```

In [ ]:
df.set_index('Country/Region', inplace=True)

Canada
Mozambique
Serbia
Sweden
Syria
Timor-Leste

## Oefening 10
Bekijk eens welke plots je krijgt met de volgende dataset: df[['Confirmed', 'Active', 'Recovered']] voord e volgende drie grafiektypes: bar, box, hist

# Oplossingen
## Oefening 1
Het scheidingsteken is een komma (antwoord 3)
```
COUNTRY_WISE_CSV = 'country_wise_latest.csv'
with open(COUNTRY_WISE_CSV) as f:
    for _ in range(5):
        print(f.readline(), end='')
```
## Oefening 2
Geen enkele kolom bevat NULL-waarden (antwoord 4). De gemakkelijkste manier om dat te zien is met de .info()-functie
```
import pandas as pd
COUNTRY_WISE_CSV = 'country_wise_latest.csv'
df = pd.read_csv(COUNTRY_WISE_CSV, delimiter=',')
df.info()
```
## Oefening 3
Antwoord 4: df = df.astype({df.columns[0]:pd.StringDtype(), df.columns[-1]:pd.StringDtype()})

## Oefening 4
De .describe()-functie gebruiken we om informatie op te vragen over de getallen (antwoord 2)

## Oefening 5
Antwoord 2: Deaths / 100 Recovered (Je ziet daar 'inf' opduiken. Dat wijst op een deling door 0)

## Oefening 6
Antwoord 2: df.describe(include=[pd.StringDtype()])

## Oefening 7
df['WHO Region'].value_counts(normalize=True).iloc[0] * 100 (let op: je moet iloc gebruiken)

## Oefening 8
Antwoord 5: df.set_index('Country/Region', inplace=True)

## Oefening 9
```
for land in df[df.Recovered==0].index:
    print(land)
```
Maar we kunnen ook iterrows gebruiken:
```
for index, _ in df[df.Recovered==0].iterrows():
    print(index)
```