# Opdracht sorteren en filteren
We gebruiken hiervoor data over het Europees kampioenschap Voetbal in 2012 op [Kaggle](https://www.kaggle.com/datasets/markmedhat/euro-2012-stats-team)

## Download van de data
We kunnen de data downloaden van [deze URL](https://www.kaggle.com/api/v1/datasets/download/markmedhat/euro-2012-stats-team)

In [2]:
from pathlib import Path
from zipfile import ZipFile
import requests
URL='https://www.kaggle.com/api/v1/datasets/download/markmedhat/euro-2012-stats-team'
EURO_STATS_ZIP = 'euro-2012-stats.zip'
euro_path = Path(EURO_STATS_ZIP)
if not euro_path.exists():
    data = requests.get(URL)
    with open(EURO_STATS_ZIP, 'wb') as f:
        f.write(data.content)
    with open(EURO_STATS_ZIP, 'rb') as f:
        ZipFile(f).extractall()

## Lees de data in Pandas en wijs toe aan de variabele euro12

In [ ]:
import pandas as pd
EURO2012_STATS_TEAM_CSV = 'Euro_2012_stats_TEAM.csv'

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19

## Toon alleen de Goals kolom

In [ ]:
# Vul je code in

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

## Hoeveel teams deden er mee aan Euro2012?

In [ ]:
# Vul je code in
print('Aantal deelnemende teams:')

Aantal deelnemende teams: 16

## Hoeveel kolommen bevat de dataset

In [ ]:
# Vul je code in
print('aantal kolommen:')

aantal kolommen: 35

## Bewaar de kolommen Team, 'Yellow Cards' en 'Red Cards' in een aparte dataframe 'df_cards'

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

## Teams gerangschikt volgens fouten
Een rode kaart telt voor 2 foutpunten en een gele kaart voor 1 foutpunt. Voeg een kolom *fout_punten* toe op basis van deze berekening aan de dataset *df_cards* en sorteer aflopend. Bij gelijk aantal fout_punten, sorteer bijkomend aflopend op rode kaarten

In [ ]:
# Vul je code in

                   Team  Yellow Cards  Red Cards  fout_punten
7                 Italy            16          0           16
6                Greece             9          1           12
10             Portugal            12          0           12
13                Spain            11          0           11
9                Poland             7          1           10
11  Republic of Ireland             6          1            9
0               Croatia             9          0            9
1        Czech Republic             7          0            7
14               Sweden             7          0            7
4                France             6          0            6
12               Russia             6          0            6
3               England             5          0            5
8           Netherlands             5          0            5
15              Ukraine             5          0            5
2               Denmark             4          0            4
5               Germany             4          0            4

## Gemiddeld aantal gele kaarten 
Gebruik df_cards. Rond af naar een integer

In [ ]:
# Vul je code in
print('Gemiddelde aantal gele kaarten:')

Gemiddelde aantal gele kaarten: 7

## Teams die meer dan 6 goals scoorden
Toon de teams die meer dan 6 goals scoorden

In [ ]:
# Vul je code in

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

## Teams waarvan de naam begint met 'G'
Toon de Teams waarvan de naam begint met een 'G'

In [ ]:
# Vul je code in

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20

## De eerste 7 kolommen
Toon de eerste 7 kolommen van de dataset euro12

In [ ]:
# Vul je code in

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4,13,12,51.9%,16.0%,32
1,Czech Republic,4,13,18,41.9%,12.9%,39
2,Denmark,4,10,10,50.0%,20.0%,27
3,England,5,11,18,50.0%,17.2%,40
4,France,3,22,24,37.9%,6.5%,65
5,Germany,10,32,32,47.8%,15.6%,80
6,Greece,5,8,18,30.7%,19.2%,32
7,Italy,6,34,45,43.0%,7.5%,110
8,Netherlands,2,12,36,25.0%,4.1%,60
9,Poland,2,15,23,39.4%,5.2%,48
10,Portugal,6,22,42,34.3%,9.3%,82
11,Republic of Ireland,1,7,12,36.8%,5.2%,28
12,Russia,5,9,31,22.5%,12.5%,59
13,Spain,12,42,33,55.9%,16.0%,100
14,Sweden,5,17,19,47.2%,13.8%,39
15,Ukraine,2,7,26,21.2%,6.0%,38

## Toon de kolommen van Team tot en met 'Shots of target'

In [ ]:
# Vul je code in

                   Team  Goals  Shots on target  Shots off target
0               Croatia      4               13                12
1        Czech Republic      4               13                18
2               Denmark      4               10                10
3               England      5               11                18
4                France      3               22                24
5               Germany     10               32                32
6                Greece      5                8                18
7                 Italy      6               34                45
8           Netherlands      2               12                36
9                Poland      2               15                23
10             Portugal      6               22                42
11  Republic of Ireland      1                7                12
12               Russia      5                9                31
13                Spain     12               42                33
14               Sweden      5               17                19
15              Ukraine      2                7                26

## Toon 'Shooting Accuracy'
Toon Team en de 'Shooting Accuracy' van England, Italy en Russia

In [ ]:
## Vul je code in

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%