# Opdracht multiindex
We beginnen met de 'most streamed spotify songs' van 2024 te downloaden.

In [ ]:
# Streaming data van Spotify
from pathlib import Path
from zipfile import ZipFile
import requests
URL='https://www.kaggle.com/api/v1/datasets/download/nelgiriyewithana/most-streamed-spotify-songs-2024'
SPOTIFY_CSV = 'Most Streamed Spotify Songs 2024.csv'
SPOTIFY_ZIP = 'spotify_2024.zip'
spotify_path = Path(SPOTIFY_CSV)
if not spotify_path.exists():
    data = requests.get(URL)
    with open(SPOTIFY_ZIP, 'wb') as f:
        f.write(data.content)
    with ZipFile(SPOTIFY_ZIP) as fzip:
        fzip.extractall()

## Stap 1: lees de data
Lees het Spotify-bestand. Gebruik de correcte encoding. Lees de Release Date as een datum.

In [11]:
import pandas as pd
SPOTIFY_CSV = 'Most Streamed Spotify Songs 2024.csv'
df = pd.read_csv(SPOTIFY_CSV, encoding='windows-1252', parse_dates=['Release Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Track                       4600 non-null   object
 1   Album Name                  4600 non-null   object
 2   Artist                      4595 non-null   object
 3   Release Date                4600 non-null   datetime64[ns]
 4   ISRC                        4600 non-null   object
 5   All Time Rank               4600 non-null   object
 6   Track Score                 4600 non-null   float64
 7   Spotify Streams             4487 non-null   object
 8   Spotify Playlist Count      4530 non-null   object
 9   Spotify Playlist Reach      4528 non-null   object
 10  Spotify Popularity          3796 non-null   float64
 11  YouTube Views               4292 non-null   object
 12  YouTube Likes               4285 non-null   object
 13  TikTok Posts                3427 non-null   object
 14  TikTok Likes                3620 non-null   object
 15  TikTok Views                3619 non-null   object
 16  YouTube Playlist Reach      3591 non-null   object
 17  Apple Music Playlist Count  4039 non-null   float64
 18  AirPlay Spins               4102 non-null   object
 19  SiriusXM Spins              2477 non-null   object
 20  Deezer Playlist Count       3679 non-null   float64
 21  Deezer Playlist Reach       3672 non-null   object
 22  Amazon Playlist Count       3545 non-null   float64
 23  Pandora Streams             3494 non-null   object
 24  Pandora Track Stations      3332 non-null   object
 25  Soundcloud Streams          1267 non-null   object
 26  Shazam Counts               4023 non-null   object
 27  TIDAL Popularity            0 non-null      float64
 28  Explicit Track              4600 non-null   int64
dtypes: datetime64[ns](1), float64(6), int64(1), object(21)
memory usage: 1.0+ MB

## Stap 2: correcte floats?
Kijk eens naar het type van de kolom "Spotify Streams". Is dat type correct? Zoek eens op hoe je daar een float van kan maken

In [21]:
df = pd.read_csv(SPOTIFY_CSV, encoding='windows-1252', parse_dates=['Release Date'], thousands=',')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Track                       4600 non-null   object
 1   Album Name                  4600 non-null   object
 2   Artist                      4595 non-null   object
 3   Release Date                4600 non-null   datetime64[ns]
 4   ISRC                        4600 non-null   object
 5   All Time Rank               4600 non-null   int64
 6   Track Score                 4600 non-null   float64
 7   Spotify Streams             4487 non-null   float64
 8   Spotify Playlist Count      4530 non-null   float64
 9   Spotify Playlist Reach      4528 non-null   float64
 10  Spotify Popularity          3796 non-null   float64
 11  YouTube Views               4292 non-null   float64
 12  YouTube Likes               4285 non-null   float64
 13  TikTok Posts                3427 non-null   float64
 14  TikTok Likes                3620 non-null   float64
 15  TikTok Views                3619 non-null   float64
 16  YouTube Playlist Reach      3591 non-null   float64
 17  Apple Music Playlist Count  4039 non-null   float64
 18  AirPlay Spins               4102 non-null   float64
 19  SiriusXM Spins              2477 non-null   float64
 20  Deezer Playlist Count       3679 non-null   float64
 21  Deezer Playlist Reach       3672 non-null   float64
 22  Amazon Playlist Count       3545 non-null   float64
 23  Pandora Streams             3494 non-null   float64
 24  Pandora Track Stations      3332 non-null   float64
 25  Soundcloud Streams          1267 non-null   float64
 26  Shazam Counts               4023 non-null   float64
 27  TIDAL Popularity            0 non-null      float64
 28  Explicit Track              4600 non-null   int64
dtypes: datetime64[ns](1), float64(22), int64(2), object(4)
memory usage: 1.0+ MB

,Track,Album Name,Artist,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,...,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,2024-04-26,QM24S2402528,1,725.4,3.904709e+08,30716.0,196631588.0,...,684.0,62.0,17598718.0,114.0,18004655.0,22931.0,4818457.0,2669262.0,NaN,0
1,Not Like Us,Not Like Us,Kendrick Lamar,2024-05-04,USUG12400910,2,545.9,3.237039e+08,28113.0,174597137.0,...,3.0,67.0,10422430.0,111.0,7780028.0,28444.0,6623075.0,1118279.0,NaN,1
2,i like the way you kiss me,I like the way you kiss me,Artemas,2024-03-19,QZJ842400387,3,538.4,6.013093e+08,54331.0,211607669.0,...,536.0,136.0,36321847.0,172.0,5022621.0,5639.0,7208651.0,5285340.0,NaN,0
3,Flowers,Flowers - Single,Miley Cyrus,2023-01-12,USSM12209777,4,444.9,2.031281e+09,269802.0,136569078.0,...,2182.0,264.0,24684248.0,210.0,190260277.0,203384.0,NaN,11822942.0,NaN,0
4,Houdini,Houdini,Eminem,2024-05-31,USUG12403398,5,423.3,1.070349e+08,7223.0,151469874.0,...,1.0,82.0,17660624.0,105.0,4493884.0,7006.0,207179.0,457017.0,NaN,1

In [15]:
df.describe(include='all')

,Track,Album Name,Artist,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,...,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track
count,4600,4600,4595,4600,4600,4600.000000,4600.000000,4.487000e+03,4530.000000,4.528000e+03,...,2477.000000,3679.000000,3.672000e+03,3545.000000,3.494000e+03,3.332000e+03,1.267000e+03,4.023000e+03,0.0,4600.000000
unique,4370,4005,1999,NaN,4598,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Danza Kuduro - Cover,Un Verano Sin Ti,Taylor Swift,NaN,TCAGJ2289254,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,13,20,63,NaN,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,2021-01-27 07:48:18.782608896,NaN,2290.678043,41.844043,4.473873e+08,59390.829801,2.334682e+07,...,257.344368,32.310954,1.294939e+06,25.348942,8.566735e+07,8.787697e+04,1.484797e+07,2.529149e+06,NaN,0.358913
min,NaN,NaN,NaN,1987-07-21 00:00:00,NaN,1.000000,19.400000,1.071000e+03,1.000000,1.000000e+00,...,1.000000,1.000000,1.000000e+00,1.000000,2.000000e+00,1.000000e+00,1.800000e+01,1.000000e+00,NaN,0.000000
25%,NaN,NaN,NaN,2019-07-16 18:00:00,NaN,1144.750000,23.300000,7.038630e+07,6718.000000,4.791612e+06,...,25.000000,5.000000,5.216600e+04,8.000000,1.057955e+06,1.261500e+03,7.684075e+05,2.301950e+05,NaN,0.000000
50%,NaN,NaN,NaN,2022-06-01 00:00:00,NaN,2290.500000,29.900000,2.398507e+08,32312.500000,1.325948e+07,...,86.000000,15.000000,2.371205e+05,17.000000,1.273577e+07,7.832000e+03,3.224599e+06,8.545840e+05,NaN,0.000000
75%,NaN,NaN,NaN,2023-08-11 00:00:00,NaN,3436.250000,44.425000,6.283638e+08,86038.750000,2.966069e+07,...,255.000000,37.000000,9.063012e+05,34.000000,8.150121e+07,4.922400e+04,1.338760e+07,2.684638e+06,NaN,1.000000
max,NaN,NaN,NaN,2024-06-14 00:00:00,NaN,4998.000000,725.400000,4.281469e+09,590392.000000,2.623434e+08,...,7098.000000,632.000000,4.819785e+07,210.000000,1.463624e+09,3.780513e+06,3.198359e+08,2.197945e+08,NaN,1.000000
std,NaN,NaN,NaN,NaN,NaN,1322.878312,38.543766,5.384439e+08,71131.406625,2.968717e+07,...,554.737321,54.274538,3.555543e+06,25.989826,1.678785e+08,2.608537e+05,3.213281e+07,6.038786e+06,NaN,0.479734

In [24]:
df = df.set_index([df['Release Date'].dt.year, df['Release Date'].dt.month])
df

                                                     Track  \
Release Date Release Date
2024         4                         MILLION DOLLAR BABY
             5                                 Not Like Us
             3                  i like the way you kiss me
2023         1                                     Flowers
2024         5                                     Houdini
...                                                    ...
2017         9                           For the Last Time
2018         7                            Dil Meri Na Sune
2020         2                       Grace (feat. 42 Dugg)
2016         11                        Nashe Si Chadh Gayi
2017         4             Me Acostumbre (feat. Bad Bunny)

                                                 Album Name          Artist  \
Release Date Release Date
2024         4                 Million Dollar Baby - Single   Tommy Richman
             5                                  Not Like Us  Kendrick Lamar
             3                   I like the way you kiss me         Artemas
2023         1                             Flowers - Single     Miley Cyrus
2024         5                                      Houdini          Eminem
...                                                     ...             ...
2017         9                            For the Last Time     $uicideboy$
2018         7             Dil Meri Na Sune (From "Genius")      Atif Aslam
2020         2                                      My Turn        Lil Baby
2016         11                       November Top 10 Songs    Arijit Singh
2017         4              Me Acostumbre (feat. Bad Bunny)       Arcï¿½ï¿½

                          Release Date          ISRC  All Time Rank  \
Release Date Release Date
2024         4              2024-04-26  QM24S2402528              1
             5              2024-05-04  USUG12400910              2
             3              2024-03-19  QZJ842400387              3
2023         1              2023-01-12  USSM12209777              4
2024         5              2024-05-31  USUG12403398              5
...                                ...           ...            ...
2017         9              2017-09-05  QM8DG1703420           4585
2018         7              2018-07-27  INT101800122           4575
2020         2              2020-02-28  USUG12000043           4571
2016         11             2016-11-08  INY091600067           4591
2017         4              2017-04-11  USB271700107           4593

                           Track Score  Spotify Streams  \
Release Date Release Date
2024         4                   725.4     3.904709e+08
             5                   545.9     3.237039e+08
             3                   538.4     6.013093e+08
2023         1                   444.9     2.031281e+09
2024         5                   423.3     1.070349e+08
...                                ...              ...
2017         9                    19.4     3.050500e+08
2018         7                    19.4     5.228236e+07
2020         2                    19.4     1.899727e+08
2016         11                   19.4     1.454670e+08
2017         4                    19.4     2.557407e+08

                           Spotify Playlist Count  Spotify Playlist Reach  \
Release Date Release Date
2024         4                            30716.0             196631588.0
             5                            28113.0             174597137.0
             3                            54331.0             211607669.0
2023         1                           269802.0             136569078.0
2024         5                             7223.0             151469874.0
...                                           ...                     ...
2017         9                            65770.0               5103054.0
2018         7                             4602.0               1449767.0
2020         2                            72066.0               6704802.0
2016         11                           14037.0               7387064.0
2017         4                            32138.0              14066526.0

                           ...  SiriusXM Spins  Deezer Playlist Count  \
Release Date Release Date  ...
2024         4             ...           684.0                   62.0
             5             ...             3.0                   67.0
             3             ...           536.0                  136.0
2023         1             ...          2182.0                  264.0
2024         5             ...             1.0                   82.0
...                        ...             ...                    ...
2017         9             ...             NaN                    2.0
2018         7             ...             NaN                    1.0
2020         2             ...             NaN                    1.0
2016         11            ...             NaN                    NaN
2017         4             ...             NaN                    4.0

                           Deezer Playlist Reach  Amazon Playlist Count  \
Release Date Release Date
2024         4                        17598718.0                  114.0
             5                        10422430.0                  111.0
             3                        36321847.0                  172.0
2023         1                        24684248.0                  210.0
2024         5                        17660624.0                  105.0
...                                          ...                    ...
2017         9                           14217.0                    NaN
2018         7                             927.0                    NaN
2020         2                              74.0                    6.0
2016         11                              NaN                    7.0
2017         4                          127479.0                    4.0

                           Pandora Streams  Pandora Track Stations  \
Release Date Release Date
2024         4                  18004655.0                 22931.0
             5                   7780028.0                 28444.0
             3                   5022621.0                  5639.0
2023         1                 190260277.0                203384.0
2024         5                   4493884.0                  7006.0
...                                    ...                     ...
2017         9                  20104066.0                 13184.0
2018         7                         NaN                     NaN
2020         2                  84426740.0                 28999.0
2016         11                  6817840.0                     NaN
2017         4                  69006739.0                 11320.0

                           Soundcloud Streams  Shazam Counts  \
Release Date Release Date
2024         4                      4818457.0      2669262.0
             5                      6623075.0      1118279.0
             3                      7208651.0      5285340.0
2023         1                            NaN     11822942.0
2024         5                       207179.0       457017.0
...                                       ...            ...
2017         9                     50633006.0       656337.0
2018         7                            NaN       193590.0
2020         2                            NaN      1135998.0
2016         11                           NaN       448292.0
2017         4                            NaN       767006.0

                           TIDAL Popularity  Explicit Track
Release Date Release Date
2024         4                          NaN               0
             5                          NaN               1
             3                          NaN               0
2023         1                          NaN               0
2024         5                          NaN               1
...                                     ...             ...
2017         9                          NaN               1
2018         7                          NaN               0
2020         2                          NaN               1
2016         11                         NaN               0
2017         4                          NaN               1

[4600 rows x 29 columns]

In [25]:
df.index.names = ['Jaar', 'maand']
df

                                      Track                        Album Name  \
Jaar maand
2024 4                  MILLION DOLLAR BABY      Million Dollar Baby - Single
     5                          Not Like Us                       Not Like Us
     3           i like the way you kiss me        I like the way you kiss me
2023 1                              Flowers                  Flowers - Single
2024 5                              Houdini                           Houdini
...                                     ...                               ...
2017 9                    For the Last Time                 For the Last Time
2018 7                     Dil Meri Na Sune  Dil Meri Na Sune (From "Genius")
2020 2                Grace (feat. 42 Dugg)                           My Turn
2016 11                 Nashe Si Chadh Gayi             November Top 10 Songs
2017 4      Me Acostumbre (feat. Bad Bunny)   Me Acostumbre (feat. Bad Bunny)

                    Artist Release Date          ISRC  All Time Rank  \
Jaar maand
2024 4       Tommy Richman   2024-04-26  QM24S2402528              1
     5      Kendrick Lamar   2024-05-04  USUG12400910              2
     3             Artemas   2024-03-19  QZJ842400387              3
2023 1         Miley Cyrus   2023-01-12  USSM12209777              4
2024 5              Eminem   2024-05-31  USUG12403398              5
...                    ...          ...           ...            ...
2017 9         $uicideboy$   2017-09-05  QM8DG1703420           4585
2018 7          Atif Aslam   2018-07-27  INT101800122           4575
2020 2            Lil Baby   2020-02-28  USUG12000043           4571
2016 11       Arijit Singh   2016-11-08  INY091600067           4591
2017 4           Arcï¿½ï¿½   2017-04-11  USB271700107           4593

            Track Score  Spotify Streams  Spotify Playlist Count  \
Jaar maand
2024 4            725.4     3.904709e+08                 30716.0
     5            545.9     3.237039e+08                 28113.0
     3            538.4     6.013093e+08                 54331.0
2023 1            444.9     2.031281e+09                269802.0
2024 5            423.3     1.070349e+08                  7223.0
...                 ...              ...                     ...
2017 9             19.4     3.050500e+08                 65770.0
2018 7             19.4     5.228236e+07                  4602.0
2020 2             19.4     1.899727e+08                 72066.0
2016 11            19.4     1.454670e+08                 14037.0
2017 4             19.4     2.557407e+08                 32138.0

            Spotify Playlist Reach  ...  SiriusXM Spins  \
Jaar maand                          ...
2024 4                 196631588.0  ...           684.0
     5                 174597137.0  ...             3.0
     3                 211607669.0  ...           536.0
2023 1                 136569078.0  ...          2182.0
2024 5                 151469874.0  ...             1.0
...                            ...  ...             ...
2017 9                   5103054.0  ...             NaN
2018 7                   1449767.0  ...             NaN
2020 2                   6704802.0  ...             NaN
2016 11                  7387064.0  ...             NaN
2017 4                  14066526.0  ...             NaN

            Deezer Playlist Count  Deezer Playlist Reach  \
Jaar maand
2024 4                       62.0             17598718.0
     5                       67.0             10422430.0
     3                      136.0             36321847.0
2023 1                      264.0             24684248.0
2024 5                       82.0             17660624.0
...                           ...                    ...
2017 9                        2.0                14217.0
2018 7                        1.0                  927.0
2020 2                        1.0                   74.0
2016 11                       NaN                    NaN
2017 4                        4.0               127479.0

            Amazon Playlist Count  Pandora Streams  Pandora Track Stations  \
Jaar maand
2024 4                      114.0       18004655.0                 22931.0
     5                      111.0        7780028.0                 28444.0
     3                      172.0        5022621.0                  5639.0
2023 1                      210.0      190260277.0                203384.0
2024 5                      105.0        4493884.0                  7006.0
...                           ...              ...                     ...
2017 9                        NaN       20104066.0                 13184.0
2018 7                        NaN              NaN                     NaN
2020 2                        6.0       84426740.0                 28999.0
2016 11                       7.0        6817840.0                     NaN
2017 4                        4.0       69006739.0                 11320.0

            Soundcloud Streams  Shazam Counts  TIDAL Popularity  \
Jaar maand
2024 4               4818457.0      2669262.0               NaN
     5               6623075.0      1118279.0               NaN
     3               7208651.0      5285340.0               NaN
2023 1                     NaN     11822942.0               NaN
2024 5                207179.0       457017.0               NaN
...                        ...            ...               ...
2017 9              50633006.0       656337.0               NaN
2018 7                     NaN       193590.0               NaN
2020 2                     NaN      1135998.0               NaN
2016 11                    NaN       448292.0               NaN
2017 4                     NaN       767006.0               NaN

            Explicit Track
Jaar maand
2024 4                   0
     5                   1
     3                   0
2023 1                   0
2024 5                   1
...                    ...
2017 9                   1
2018 7                   0
2020 2                   1
2016 11                  0
2017 4                   1

[4600 rows x 29 columns]

## Stap 4
In welk jaar en welke maand zijn de meeste tracks gereleased in de lijst.

In [31]:
df.Artist.groupby(level=[0, 1]).count().sort_values(ascending=False)

Jaar  maand
2024  5        171
      4        163
      3        133
2023  10       129
      3        124
              ...
2007  4          1
      11         1
2008  6          1
2013  10         1
2014  5          1
Name: Artist, Length: 191, dtype: int64