# Oefeningen op kennismaking met Pandas
## Oefening 1
Wat is het dtype van de onderstaande index:
1. float64
2. int64
3. object ('O')
4. Je krijgt een foutmelding omdat je geen twee types kunt mengen
5. StringDtype

In [ ]:
import pandas as pd
idx = pd.Index([1, 2, 3.14])
idx.dtype

# Oefening 2
Wat is het dtype van de onderstaande index:
1. float64
2. int64
3. object ('O')
4. Je krijgt een foutmelding omdat je geen verschillende types kunt mengen
5. StringDtype

In [ ]:
import pandas as pd
idx = pd.Index([1, '2', 3.14])

## Oefening 3
Hoe kun je de elementen 4, 8, en 10 tonen 
verwachte output:
```
Index([4, 8, 10], dtype='int64')
```

1. idx[1, 3, 4]
2. idx[4, 8, 10]
3. idx[[1, 3, 4]]
4. idx[[4, 8, 10]]

In [ ]:
import pandas as pd
idx = pd.Index([2, 4, 6, 8, 10])

## Oefening 4
Hoe kun kun je alle steden behalve Antwerpen tonen (meerdere antwoorden mogelijk) 
verwachte output: 
```
Index(['Mechelen', 'Leuven'], dtype='object'))
```
1. idx[1, 2]
2. idx[idx != 0]
3. idx[idx != 'Antwerpen']
4. idx[idx == 'Mechelen' | idx == 'Leuven']

In [ ]:
import pandas as pd
idx = pd.Index(['Antwerpen', 'Mechelen', 'Leuven'])

## Oefening 5
Wat krijg je te zien wanneer je onderstaande idx afdrukt.
1. Een index met de getallen 0, 1, 2, 3, 4
2. Een RangeIndex met start=0, stop=5 en step=1
3. Een index met de getallen 0, 1, 2, 3, 4, 5

In [ ]:
import pandas as pd
idx = pd.RangeIndex(5)

## Oefening 6
Wat is het type van de onderstaande index
1. 'O' (dus Python object)
2. Integer64Dtype
3. Je krijgt een foutmelding omdat een index geen lege waarde kan bevatten
4. float64

In [ ]:
import pandas as pd
idx = pd.Index([1, None, 2])

## Oefening 7
Wat is het type van de onderstaande index
1. 'O' (dus object)
2. float64
3. Je krijgt een foutmelding omdat de waarden van een index uniek moeten zijn

In [ ]:
import pandas as pd
idx = pd.Index([1, pd.NA, 1, 2])

## Oefening 8
Wat krijg je te zien wanneer je ser['Karen':'Kathleen'] afdrukt
1. De achternamen van Karen en Kristel
2. De voornamen en achternamen van Karen en Kristel
3. De achternamen van Karen, Kristel en Kathleen
4. De voornamen en achternamen van Karen, Kristel en Kathleen

In [8]:
import pandas as pd
ser = pd.Series(['Damen', 'Verbeke', 'Aerts'], index=['Karen', 'Kristel', 'Kathleen'])

Karen         Damen
Kristel     Verbeke
Kathleen      Aerts
dtype: object

## Oefening 9
Wat krijg je te zien wanneer je ser1[filter] afdrukt
1. hetzelfde als wanneer je ser2[filter] afdrukt
2. de voornamen en achternamen van Karen en Kristel
3. een foutmelding
4. de achternamen van Karen en Kristel

In [ ]:
import pandas as pd
ser1 = pd.Series(['Damen', 'Verbeke', 'Aerts'], index=['Karen', 'Kristel', 'Kathleen'])
ser2 = pd.Series([pd.to_datetime('1974-10-28'), pd.to_datetime('1975-12-10'), pd.to_datetime('1986-02-16')],
                 index=['Karen', 'Kristel', 'Josje'])
filter = ser1.index.intersection(ser2.index)

# Oefening 10
Download het bestand bi.csv en bewaar met de volgende code.

In [18]:
import requests
data = requests.get('https://learn.walsoftcomputers.com/csv/bi.csv')
BI_CSV = 'bi.csv'
with open(BI_CSV, mode='wb') as f:
    f.write(data.content)

Lees het bestand met pd.read_csv() (let op de encoding: 'windows-1252'). Welke kolommen bevatten NULL-waarden? Kijk eens na welke functie je daarvoor kunt gebruiken. (meerdere antwoorden mogelijk)
1. fNAME
2. lNAME
3. Age
4. gender
5. country
6. residence
7. entryEXAM
8. prevEducation
9. studyHOURS 
10. Python
11. DB

In [ ]:
# Vul aan
import pandas as pd
BI_CSV = 'bi.csv'

# Oplossingen
## Oplossing 1
Een float64 (antwoord 1)

## Oplossing 2
Het is een Python-object (dus antwoord 3)

## Oplossing 3
Je moet advanced indexing gebruiken: idx[[1, 3, 4]] (dus antwoord 3)

## Oplossing 4
idx[idx != 'Antwerpen'] (dus antwoord 3). idx[ (idx == 'Mechelen') | (idx == 'Leuven')] zou ook werken, maar de ronde haakjes ontbreken. 

## Oplossing 5
Het is een RangeIndex (Een RangeIndex met start=0, stop=5 en step=1) (dus antwoord 2)

## Oplossing 6
Er zijn twee juiste antwoorden: serie = pd.Series(['Karen', 'Kristel', 'Kathleen'], index=(2, 1, 0)) en 
serie = pd.Series({2:'Karen', 1:'Kristel', 0:'Kathleen'}) (dus antwoord 1 en 3)
## Oplossing 7
Het is een Python str (dus antwoord 2)
## Oplossing 8
De voornamen en achternamen van Karen, Kristel en Kathleen want een slice bij een index is inclusief (antwoord 4)
## Oplossing 9
de voornamen en achternamen van Karen en Kristel (antwoord 2)
## Oplossing 10
Je kunt de volgende code gebruiken:
```
import pandas as pd
BI_CSV = 'bi.csv'
df = pd.read_csv(BI_CSV, encoding='Windows-1252')
df.info()
```
Dan zie je dat de Python-kolom maar 75 niet-NULL waarden bevat. 

Om de kolom als een int-type te definiÃ«ren (en niet als float), kunnen we het nieuwe Integer-type van Pandas gebruiken:
```
import pandas as pd
BI_CSV = 'bi.csv'
df = pd.read_csv(BI_CSV, encoding='Windows-1252', dtype={'Python':pd.Int64Dtype()})
df.info()
```