# Oefeningen op selecties van dataframes
## Oefening 1
Hoe kun je met de .at[] syntax de achternaam van Kathleen afdrukken (Aerts)?
1. ser.at[-1]
1. ser.at(-1)
1. ser.at['Kathleen', 'achternaam']
1. ser.at('Kathleen', 'achternaam')
1. ser.at['Kathleen']
1. ser.at('Kathleen')

In [ ]:
import pandas as pd
ser = pd.Series(['Damen', 'Verbeke', 'Aerts'], index=['Karen', 'Kristel', 'Kathleen'],name='achternaam')

## Oefening 2
Hoe toon je de geboortedatum van Kristel(1975-12-10 00:00:00)?
1. df_k3.at['geboortedatum', 'Kristel']
1. df_k3.at['Kristel', 'geboortedatum']
1. df_k3.at['geboortedatum']['Kristel']
1. df_k3.at['Kristel']['geboortedatum']

In [ ]:
import pandas as pd

voornamen = ['Karen', 'Kristel', 'Kathleen']
achternamen = ['Damen', 'Verbeke', 'Aerts']
geboortedatums = [pd.to_datetime('1974-10-28'), pd.to_datetime('1975-12-10'), pd.to_datetime('1978-06-18')]
df_k3 = pd.DataFrame({'achternaam': achternamen, 'geboortedatum':geboortedatums}, index=voornamen)
df_k3 = df_k3.rename_axis('voornaam', axis='index')

## Oefening 3
Hoe selecteer je met .iat de geboortedatum van Kristel (1975-12-10 00:00:00)?
1. df_k3.iat[1][2]
1. df_k3.iat[1][1]
1. df_k3.iat[1, 2]
1. df_k3.iat[1, 1]

In [ ]:
import pandas as pd

voornamen = ['Karen', 'Kristel', 'Kathleen']
achternamen = ['Damen', 'Verbeke', 'Aerts']
geboortedatums = [pd.to_datetime('1974-10-28'), pd.to_datetime('1975-12-10'), pd.to_datetime('1978-06-18')]
df_k3 = pd.DataFrame({'achternaam': achternamen, 'geboortedatum':geboortedatums}, index=voornamen)
df_k3 = df_k3.rename_axis('voornaam', axis='index')

## Oefening 4
Hoe selecteer je in de onderstaande dataset de voornaam en de achternaam van Karen en Kristel met .loc?
Verwachte output:
```
  voornaam achternaam
0    Karen      Damen
1  Kristel    Verbeke
```
1. print(df_k3.loc['Karen':'Kristel', 'voornaam':'achternaam'])
1. print(df_k3.loc['Karen':'Kathleen', 'voornaam':'geboortedatum])
1. print(df_k3.loc[0:1, 'voornaam':'achternaam'])
1. print(df_k3.loc[0:3, 'voornaam':'geboortedatum])

In [ ]:
import pandas as pd
voornamen = ['Karen', 'Kristel', 'Kathleen']
achternamen = ['Damen', 'Verbeke', 'Aerts']
geboortedatums = [pd.to_datetime('1974-10-28'), pd.to_datetime('1975-12-10'), pd.to_datetime('1978-06-18')]
df_k3 = pd.DataFrame({'voornaam':voornamen,'achternaam': achternamen, 'geboortedatum':geboortedatums})

## Oefening 5
Hoe selecteer je in de onderstaande dataset de voornaam en de achternaam van Kristel en Kathleen met .iloc? (meerdere antwoorden mogelijk)
Verwachte output:
```
   voornaam achternaam
1   Kristel    Verbeke
2  Kathleen      Aerts
```
1. print(df_k3.iloc[1:3, 0:2])
2. print(df_k3.iloc[1:2, 0:1])
3. print(df_k3.iloc[1:, 0:2])
4. print(df_k3.iloc[1:, 0:1])

In [ ]:
import pandas as pd

voornamen = ['Karen', 'Kristel', 'Kathleen']
achternamen = ['Damen', 'Verbeke', 'Aerts']
geboortedatums = [pd.to_datetime('1974-10-28'), pd.to_datetime('1975-12-10'), pd.to_datetime('1978-06-18')]
df_k3 = pd.DataFrame({'voornaam':voornamen, 'achternaam': achternamen, 'geboortedatum':geboortedatums})

## Oefening 6
In de volgende code is het land niet correct voor 'Josje' en 'Klaasje'. Die komen uit Nederland. Schrijf code om dat in 1 regel op te lossen. Plak je code in de Syntra leeromgeving.

De output moet er dus als volgt uitzien:
```
         achternaam geboortedatum       land
voornaam                                    
Karen         Damen    1974-10-28     België
Kristel     Verbeke    1975-12-10     België
Kathleen      Aerts    1978-06-18     België
Josje       Huisman    1986-02-16  Nederland
Klaasje      Meijer    1995-03-02  Nederland
```

In [ ]:
import pandas as pd

voornamen = ['Karen', 'Kristel', 'Kathleen', 'Josje', 'Klaasje']
achternamen = ['Damen', 'Verbeke', 'Aerts', 'Huisman', 'Meijer']
geboortedatums = [pd.to_datetime('1974-10-28'), pd.to_datetime('1975-12-10'), pd.to_datetime('1978-06-18'),
                  pd.to_datetime('1986-02-16'), pd.to_datetime('1995-03-02')]
landen = ['België'] * len(voornamen)
df_k3 = pd.DataFrame({'achternaam': achternamen, 'geboortedatum':geboortedatums, 'land':landen}, index=voornamen)
df_k3 = df_k3.rename_axis('voornaam', axis='index')

print(df_k3)

## Oefening 7
In het volgende dataframe ontbreekt het land voor Kathleen (België), Josje(Nederland) en Klaasje(Nederland). Voeg 1 statement toe zodat de data correct zijn. Plak je oplossing in de Syntra leeromgeving.

Verwachte output:
```
         achternaam geboortedatum       land
voornaam                                    
Karen         Damen    1974-10-28     België
Kristel     Verbeke    1975-12-10     België
Kathleen      Aerts    1978-06-18     België
Josje       Huisman    1986-02-16  Nederland
Klaasje      Meijer    1995-03-02  Nederland
```

In [ ]:
voornamen = ['Karen', 'Kristel', 'Kathleen', 'Josje', 'Klaasje']
achternamen = ['Damen', 'Verbeke', 'Aerts', 'Huisman', 'Meijer']
geboortedatums = [pd.to_datetime('1974-10-28'), pd.to_datetime('1975-12-10'), pd.to_datetime('1978-06-18'),
                  pd.to_datetime('1986-02-16'), pd.to_datetime('1995-03-02')]
landen = ['België', 'België', pd.NA, pd.NA, pd.NA] 
df_k3 = pd.DataFrame({'achternaam': achternamen, 'geboortedatum':geboortedatums, 'land':landen}, index=voornamen)
df_k3 = df_k3.rename_axis('voornaam', axis='index')

print(df_k3)

## Oefening 8
In het volgende dataframe ontbreekt het land voor Karen (België) en Klaasje (Nederland). Voeg 1 statement toe zodat de data correct zijn. Plak je oplossing in de Syntra leeromgeving.

In [ ]:
import pandas as pd
voornamen = ['Karen', 'Kristel', 'Kathleen', 'Josje', 'Klaasje']
achternamen = ['Damen', 'Verbeke', 'Aerts', 'Huisman', 'Meijer']
geboortedatums = [pd.to_datetime('1974-10-28'), pd.to_datetime('1975-12-10'), pd.to_datetime('1978-06-18'),
                  pd.to_datetime('1986-02-16'), pd.to_datetime('1995-03-02')]
landen = [pd.NA, 'België', 'België', 'Nederland', pd.NA] 
df_k3 = pd.DataFrame({'achternaam': achternamen, 'geboortedatum':geboortedatums, 'land':landen}, index=voornamen)

print(df_k3)

## Oefening 9
In het volgende dataframe is het land niet correct voor Klaasje (moet Nederland zijn). Voeg een statement toe om dat in orde te brengen. Plak je oplossing in de Syntra leeromgeving.

In [ ]:
import pandas as pd
voornamen = ['Karen', 'Kristel', 'Kathleen', 'Josje', 'Klaasje']
achternamen = ['Damen', 'Verbeke', 'Aerts', 'Huisman', 'Meijer']
geboortedatums = [pd.to_datetime('1974-10-28'), pd.to_datetime('1975-12-10'), pd.to_datetime('1978-06-18'),
                  pd.to_datetime('1986-02-16'), pd.to_datetime('1995-03-02')]
landen = ['België', 'België', 'België', 'Nederland', 'België'] 
df_k3 = pd.DataFrame({'achternaam': achternamen, 'geboortedatum':geboortedatums, 'land':landen}, index=voornamen)

display(df_k3)

## Oefening 10
In het volgende dataframe is het land niet correct voor Klaasje (moet Nederland zijn). Voeg een statement toe om dat in orde te brengen. Plak je oplossing in de Syntra leeromgeving.

In [ ]:
import pandas as pd
voornamen = ['Karen', 'Kristel', 'Kathleen', 'Josje', 'Klaasje']
achternamen = ['Damen', 'Verbeke', 'Aerts', 'Huisman', 'Meijer']
geboortedatums = [pd.to_datetime('1974-10-28'), pd.to_datetime('1975-12-10'), pd.to_datetime('1978-06-18'),
                  pd.to_datetime('1986-02-16'), pd.to_datetime('1995-03-02')]
landen = ['België', 'België', 'België', 'Nederland', 'België'] 
df_k3 = pd.DataFrame({'voornaam':voornamen, 'achternaam': achternamen, 'geboortedatum':geboortedatums, 'land':landen})

display(df_k3)

## Extra oefening
1. lees bi_cleaned.csv (eventueel gebruik je onderstaande code voor de download)
1. hernoem de kolom 'entryEXAM' naar 'examen'
1. Christina Binger (eerste record) heeft 10 punten te weinig gekregen voor 'DB'. Pas de punten aan.
1. Het maximum voor de punten voor Python is nu 100. Deel alle Pythonpunten door 2 zodat de punten nu op 50 staan.
1. Lukt dit ook voor DB?

In [ ]:
from pathlib import Path
import requests
import pandas as pd
BI_CLEANED_CSV = 'bi_cleaned.csv'
BI_CSV = 'bi.csv'
bi_cleaned_path = Path(BI_CLEANED_CSV)
if not bi_cleaned_path.exists():
    data = requests.get('https://learn.walsoftcomputers.com/csv/cleaned_bi.csv')
    with open(BI_CLEANED_CSV, mode='wb') as f:
        f.write(data.content)
else:
    print(f"{BI_CLEANED_CSV} bestaat al.")

# Oplossingen
## Oefening 1
Het is een Series, dus je kunt maar 1 waarde meegeven met .at. Je mag ook niet vergeten om vierkante haakjes te gebruiken. Het juiste antwoord is dus ser['Kathleen'] (antwoord 5)
## Oefening 2
.at gebruik je zoals een NumPy array: [rij, kolom], maar dan met indexen en kolomnamen. Dus df_k3.at['Kristel', 'geboortedatum'] (antwoord 2)
## Oefening 3
De indexkolom telt niet mee, dus de geboortedatum staat in kolom 1: .iat[1, 1] (antwoord 4)
## Oefening 4
De index is een RangeIndex, maar bij .loc is het eindpunt altijd inbegrepen, dus print(df_k3.loc[0:1, 'voornaam':'achternaam']) (antwoord 3)
## Oefening 5
Bij .iloc is het eindpunt niet inbegrepen. Er waren dus twee mogelijkheden: print(df_k3.iloc[1:3, 0:2]) en print(df_k3.iloc[1:, 0:2])
## Oefening 6 
Alhoewel de volgende code ook werkt:
```
df_k3.loc['Josje':'Klaasje', 'land'] = 'Nederland'
```
Is het toch veiliger om advanced indexing te gebruiken. Je wil immers de waarden wijzigen voor Josje en Klaasje. Afhankelijk van de volgorde van de rijen is dat niet hetzelfde als 'van Josje tot Klaasje':
```
df_k3.loc[['Josje','Klaasje'], 'land'] = 'Nederland'
```
## Oefening 7
Dit is in mijn ogen de beste oplossing:
```
df_k3.loc[['Kathleen', 'Josje', 'Klaasje'], 'land'] = ['Belgie', 'Nederland', 'Nederland']
```
alhoewel je natuurlijk ook .iloc kunt gebruiken:
```
df_k3.iloc[-3:, -1] = ['België', 'Nederland', 'Nederland']
```
## Oefening 8
Wanneer je bij de vorige oefeningen al advanced indexing had gebruikt, was dit niet zo moeilijk:
```
df_k3.loc[['Karen', 'Klaasje'], 'land'] = ['België', 'Nederland']
```
## Oefening 9
Aangezien we maar 1 waarde moeten wijzigen, kunnen we .at/.iat gebruiken. Aangezien we index kennen ('Klaasje') en de kolomnaam ('land) is .at waarschijnlijk de gemakkelijkste oplossing:
```
df_k3.at['Klaasje', 'land'] = 'Nederland'
```
## Oefening 10
Je hebt hier twee mogelijkheden. Aangezien we geen indexnaam meer hebben ('Klaasje' kunnen we niet gebruiken), is .iat waarschijnlijk het gemakkelijkst. We moeten immers de laatste kolom van de laatste record wijzigen:
```
df_k3.iat[-1, -1] = 'Nederland'
```
Maar .at zou ook werken. Hou er wel rekening mee dat je hier voor de index geen -1 kunt gebruiken:
```
df_k3.at[4, 'land'] = 'Nederland'
```
## Extra oefening
```
import pandas as pd
BI_CSV = 'bi_cleaned.csv'
df = pd.read_csv(BI_CSV, encoding= 'windows-1252')

df.rename({'entryEXAM':'examen'}, axis='columns', inplace=True)

df.at[0, 'DB'] = df.at[0, 'DB'] + 10
df.loc[:, 'Python'] = df.loc[:, 'Python'] /2
```
Het probleem met DB is dat dit integers zijn. Door te delen door 2 worden het floats en je krijgt een probleem omdat je floats niet kunt bewaren in een integer kolom.