# Oefeningen op Dataframes
## Oefening 1
Start van onderstaande code. Transponeer de dataframe *df_steden*. Wat is het type van inwoners-kolom?
1. int
2. float
3. object
4. str

In [ ]:
import pandas as pd
inwoners_dict = {"Antwerpen": 560_000, "Mechelen": 90_000, "Leuven": 100_000, "Gent": 260_000, "Brugge": 120_000, "Hasselt": 90_000}
oppervlakte_dict = {"Antwerpen": 200, "Mechelen": 65, "Leuven": 60, "Gent": 155, "Brugge": 140, "Hasselt": 130}
provincie_dict = {"Antwerpen": "Antwerpen", "Leuven":"Vlaams-Brabant", "Brugge":"West-Vlaanderen",
                  "Gent":"Oost-Vlaanderen", "Hasselt":"Limburg", "Mechelen":"Antwerpen"}
inwoners = pd.Series(inwoners_dict, name='inwoners')
oppervlakte = pd.Series(oppervlakte_dict, name='oppervlakte')
provincie = pd.Series(provincie_dict, name="provincie")
df_steden = pd.DataFrame([inwoners, oppervlakte, provincie])
df_steden.T.info()

## Oefening 2
Wanneer we een 'name' meegeven in een Series, wordt die gebruikt als index. Wat worden de indexwaarden van een dataframe wanneer we geen 'name' meegeven (en we ook geen dictionary gebruiken)?
1. De index wordt een RangeIndex
2. Je krijgt een foutmelding omdat er geen index is
3. Je krijgt een Dataframe zonder index

In [ ]:
import pandas as pd
inwoners_dict = {"Antwerpen": 560_000, "Mechelen": 90_000, "Leuven": 100_000, "Gent": 260_000, "Brugge": 120_000, "Hasselt": 90_000}
oppervlakte_dict = {"Antwerpen": 200, "Mechelen": 65, "Leuven": 60, "Gent": 155, "Brugge": 140, "Hasselt": 130}
provincie_dict = {"Antwerpen": "Antwerpen", "Leuven":"Vlaams-Brabant", "Brugge":"West-Vlaanderen",
                  "Gent":"Oost-Vlaanderen", "Hasselt":"Limburg", "Mechelen":"Antwerpen"}
inwoners = pd.Series(inwoners_dict)
oppervlakte = pd.Series(oppervlakte_dict)
provincie = pd.Series(provincie_dict)
df_steden = pd.DataFrame([inwoners, oppervlakte, provincie])

## Oefening 3
Wat gebeurt er wanneer je een Dataframe maakt op basis van een index en Series met een 'name'. Maar de 'name' en de index-keys zijn verschillend. 
1. 'inwoners', 'oppervlakte' en 'provincie' worden de indexwaarden
2. 'aantal', 'grootte' en 'waar' worden de indexwaarden
3. 'aantal', 'grootte' en 'waar' worden de kolomnamen
4. Je krijgt een fout omdat de waarden elkaar tegenspreken.

In [ ]:
import pandas as pd
inwoners_dict = {"Antwerpen": 560_000, "Mechelen": 90_000, "Leuven": 100_000, "Gent": 260_000, "Brugge": 120_000, "Hasselt": 90_000}
oppervlakte_dict = {"Antwerpen": 200, "Mechelen": 65, "Leuven": 60, "Gent": 155, "Brugge": 140, "Hasselt": 130}
provincie_dict = {"Antwerpen": "Antwerpen", "Leuven":"Vlaams-Brabant", "Brugge":"West-Vlaanderen",
                  "Gent":"Oost-Vlaanderen", "Hasselt":"Limburg", "Mechelen":"Antwerpen"}
inwoners = pd.Series(inwoners_dict, name='inwoners')
oppervlakte = pd.Series(oppervlakte_dict, name='oppervlakte')
provincie = pd.Series(provincie_dict, name="provincie")
df_steden = pd.DataFrame({'aantal': inwoners, 'grootte':oppervlakte, 'waar': provincie})

## Oefening 4
Wat zijn de index waarden van df_steden na de rename?
1. Je krijgt een foutmelding omdat 'index' geen named argument is voor rename
2. 'inwoners', 'oppervlakte' en 'provincie'
3. 0, 1 en 2

In [ ]:
import pandas as pd
inwoners_dict = {"Antwerpen": 560_000, "Mechelen": 90_000, "Leuven": 100_000, "Gent": 260_000, "Brugge": 120_000, "Hasselt": 90_000}
oppervlakte_dict = {"Antwerpen": 200, "Mechelen": 65, "Leuven": 60, "Gent": 155, "Brugge": 140, "Hasselt": 130}
provincie_dict = {"Antwerpen": "Antwerpen", "Leuven":"Vlaams-Brabant", "Brugge":"West-Vlaanderen",
                  "Gent":"Oost-Vlaanderen", "Hasselt":"Limburg", "Mechelen":"Antwerpen"}
inwoners = pd.Series(inwoners_dict)
oppervlakte = pd.Series(oppervlakte_dict)
provincie = pd.Series(provincie_dict)
df_steden = pd.DataFrame([inwoners, oppervlakte, provincie])
df_steden.rename(index={0:'inwoners', 1:'oppervlakte', 2:'provincie'}, inplace=True)

## Oefening 5
We transponeren het vorige dataframe. Nu hebben de kolommen geen naam. Hoe kunnen we die de namen 'inwoners', 'oppervlakte' en 'provincie' geven? (meerdere antwoorden mogelijk)
1. df_steden = df_steden.rename(columns={0:'inwoners', 1:'oppervlakte', 2:'provincie'})
1. df_steden = df_steden.rename({0:'inwoners', 1:'oppervlakte', 2:'provincie'})
1. df_steden.rename(columns={0:'inwoners', 1:'oppervlakte', 2:'provincie'}, inplace=True)
1. df_steden.rename({0:'inwoners', 1:'oppervlakte', 2:'provincie'}, inplace=True)

In [25]:
import pandas as pd
inwoners_dict = {"Antwerpen": 560_000, "Mechelen": 90_000, "Leuven": 100_000, "Gent": 260_000, "Brugge": 120_000, "Hasselt": 90_000}
oppervlakte_dict = {"Antwerpen": 200, "Mechelen": 65, "Leuven": 60, "Gent": 155, "Brugge": 140, "Hasselt": 130}
provincie_dict = {"Antwerpen": "Antwerpen", "Leuven":"Vlaams-Brabant", "Brugge":"West-Vlaanderen",
                  "Gent":"Oost-Vlaanderen", "Hasselt":"Limburg", "Mechelen":"Antwerpen"}
inwoners = pd.Series(inwoners_dict)
oppervlakte = pd.Series(oppervlakte_dict)
provincie = pd.Series(provincie_dict)
df_steden = pd.DataFrame([inwoners, oppervlakte, provincie])
df_steden = df_steden.T
df_steden.rename(columns={0:'inwoners', 1:'oppervlakte', 2:'provincie'}, inplace=True)
df_steden

          inwoners oppervlakte        provincie
Antwerpen   560000         200        Antwerpen
Mechelen     90000          65        Antwerpen
Leuven      100000          60   Vlaams-Brabant
Gent        260000         155  Oost-Vlaanderen
Brugge      120000         140  West-Vlaanderen
Hasselt      90000         130          Limburg

## Oefening 6
Hoe kunnen we de gegevens van Antwerpen verwijderen? (meerdere antwoorden mogelijk)
1. df_steden.drop(index='Antwerpen', inplace=True)
2. df_steden.drop('Antwerpen', axis='index', inplace=True)
3. df_steden = df_steden.drop('Antwerpen', axis=1)
4. df_steden = df_steden.drop(['Antwerpen'], axis=0, inplace=True)

In [ ]:
import pandas as pd
inwoners_dict = {"Antwerpen": 560_000, "Mechelen": 90_000, "Leuven": 100_000, "Gent": 260_000, "Brugge": 120_000, "Hasselt": 90_000}
oppervlakte_dict = {"Antwerpen": 200, "Mechelen": 65, "Leuven": 60, "Gent": 155, "Brugge": 140, "Hasselt": 130}
provincie_dict = {"Antwerpen": "Antwerpen", "Leuven":"Vlaams-Brabant", "Brugge":"West-Vlaanderen",
                  "Gent":"Oost-Vlaanderen", "Hasselt":"Limburg", "Mechelen":"Antwerpen"}
inwoners = pd.Series(inwoners_dict, name='inwoners')
oppervlakte = pd.Series(oppervlakte_dict, name='oppervlakte')
provincie = pd.Series(provincie_dict, name='provincie')
df_steden = pd.DataFrame([inwoners, oppervlakte, provincie])
df_steden = df_steden.T

         inwoners oppervlakte        provincie
Mechelen    90000          65        Antwerpen
Leuven     100000          60   Vlaams-Brabant
Gent       260000         155  Oost-Vlaanderen
Brugge     120000         140  West-Vlaanderen
Hasselt     90000         130          Limburg

## Oefening 7
Hoe kunnen we de index 'inwoners' wijzigen in 'bevolking' in het dataframe df_steden?
1. df_steden.rename(index={'inwoners':'bevolking'})
2. df_steden.rename({'inwoners':'bevolking'})
3. df_steden.rename({'inwoners': 'bevolking'}, axis='index', inplace=True)

In [ ]:
import pandas as pd
inwoners_dict = {"Antwerpen": 560_000, "Mechelen": 90_000, "Leuven": 100_000, "Gent": 260_000, "Brugge": 120_000, "Hasselt": 90_000}
oppervlakte_dict = {"Antwerpen": 200, "Mechelen": 65, "Leuven": 60, "Gent": 155, "Brugge": 140, "Hasselt": 130}
provincie_dict = {"Antwerpen": "Antwerpen", "Leuven":"Vlaams-Brabant", "Brugge":"West-Vlaanderen",
                  "Gent":"Oost-Vlaanderen", "Hasselt":"Limburg", "Mechelen":"Antwerpen"}
inwoners = pd.Series(inwoners_dict, name='inwoners')
oppervlakte = pd.Series(oppervlakte_dict, name='oppervlakte')
provincie = pd.Series(provincie_dict, name='provincie')
df_steden = pd.DataFrame([inwoners, oppervlakte, provincie])
#df_steden.rename({'inwoners':'bevolking'})
df_steden.rename({'inwoners': 'bevolking'}, axis='index', inplace=True)
df_steden

Eventueel download je eerst bi.csv.

In [ ]:
import requests
data = requests.get('https://learn.walsoftcomputers.com/csv/bi.csv')
BI_CSV = 'bi.csv'
with open(BI_CSV, mode='wb') as f:
    f.write(data.content)

## Oefening 8
Vervolgens lees je het bestand in een dataframe (denk aan de 'windows-1252' encoding). Hernoem de kolommen fName en lName naar 'firstname' en 'lastname'. Plak je code in de Syntra leeromgeving.

In [ ]:
# lees bi.csv in een dataframe
# en hernoem fNAME naar firstname en lNAME naar lastname

## Oefening 9
Gebruik de firstname-kolom als index. Plak je code in de Syntra leeromgeving

In [ ]:
# schrijf hier de code om de 'firstname' kolom als index te gebruiken.

## Oefening 10
Verwijder de record met de indexwaarde 'Grethe'. Hoeveel records heb  je verwijderd?
1. 0
2. 1
3. 2
4. 3

In [ ]:
# Schrijf hier de code om 'Grethe' te verwijderen
# en kijk hoeveel records je verwijderd hebt

# Oplossingen
## Oefening 1
In de oorspronkelijke dataframe bevatten de kolommen getallen en teksten. Het gemeenschappelijke type is 'object'. Door te transponeren verandert dat type niet (alhoewel de eerste twee kolommen nu alleen getallen bevatten). Het juiste antwoord is dus object (antwoord 3)
## Oefening 2
Er wordt een standaardindex gegenereerd, een RangeIndex dus (antwoord 1)
## Oefening 3
Dictionary-keys krijgen voorrang op de namen van de Series: 'aantal', 'grootte' en 'waar' worden de kolomnamen (dus antwoord 3)
## Oefening 4
Aangezien .rename() de oorspronkelijke dataframe niet wijzigt, zijn de indexen nog steeds 0, 1 en 2 (antwoord 3)
## Oefening 5
Er waren twee mogelijkheden. We moeten het named argument *columns* gebruiken. Maar bijkomend kunnen we er met *inplace=True* voor zorgen dat het oorspronkelijke dataframe wordt aangepast.

Dus antwoorden 1 en 3 zijn correct.
## Oefening 6
Antwoorden 1 en 2 zijn correct. We kunnen ofwel het named argument 'index' gebruiken, ofwel de axis 'index'. Het laatste antwoord werkt niet omdat een drop() met 'inplace=True' None teruggeeft.

## Oefening 7
De eerste twee oplossingen wijzigen het dataframe zelf niet. Alleen antwoord 3 werkt.

## Oefening 8
```
df = df.rename(columns={'fNAME':'firstname', 'lNAME':'lastname'})
```
## Oefening 9
```
df = df.set_index('firstname')
```

## Oefening 10
Er zijn twee 'Grethe's. Dus df = df.drop('Grethe') verwijdert 2 records (antwoord 3)